<div class="container">
  <%= image_tag("car.png", :alt => "car feed", class:"img-fluid") %>
  <div class="link-text">
    <%= link_to 'get pdf online', 'http://www.rsa.ie/Documents/Learner%20Drivers/Preparing_driving_test_DL_v2.pdf' %>
  </div>
</div>
