<div class="container">
  <h1 class="text-center">Update Lesson</h1><br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="jumbotron">

      <%= link_to 'Show', user_lesson_path(current_user, @lesson), class:'btn btn-outline-primary btn-sm' %>
      <%= link_to 'Back', user_lessons_path, class:'btn btn-outline-primary btn-sm' %>
      <hr><br>
      <%= render 'form', lesson: @lesson %>

      </div>
    </div>
  </div>
</div>
