<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="jumbotron">
        <h2 class="text-center">New Lesson</h2><br>
      <%= link_to 'Back', user_lessons_path, class:'btn btn-outline-primary btn-sm'  %>
        <hr>
      <%= render 'form', lesson: @lesson %>

      </div>
    </div>
  </div>
</div>
