<div class="container">
  <h1 class="text-center">New Lesson</h1><hr>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <%= render 'form', lesson: @lesson %>

      <%= link_to 'Back', user_lessons_path %>
    </div>
  </div>

</div>
